---
BasedOnStyle: LLVM
IndentWidth: 2
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowAllArgumentsOnNextLine: false
SpacesInContainerLiterals: true
Cpp11BracedListStyle: false
---

